[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/beevatsyu
[access "refs/for/refs/*"]
	read = group user/beevatsyu
	push = group user/beevatsyu
	label-Code-Review = -2..+2 group user/beevatsyu
	label-Verified = -1..+1 group user/beevatsyu
	rebase = group user/beevatsyu
	removeReviewer = group user/beevatsyu
	submit = group user/beevatsyu
[access "refs/heads/*"]
	read = group user/beevatsyu
	create = group user/beevatsyu
	push = +force group user/beevatsyu
	pushMerge = group user/beevatsyu
[access "refs/tags/*"]
	push = group user/beevatsyu
	push = +force group user/beevatsyu
